* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  width: 100%;
  height: 55px;
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
}


header > img {
  width: 56px;
  margin-right: 7px;
}

header > h1 {
  color: white;
}

main.journal-entry {
  display: flex;
}

main.journal-entry .marker {
  width: 18px;
  margin-right: 4px;
}


main.journal-entry .main-image-container {
  width: 125px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;

}

main.journal-entry .main-image {
  width: 100%;
  height: 100%
  object-lift: cover;
  border-radius: 7px;
}

.container {
  margin: 45px 40px;
}

.info-container a {
  color: #918E98;
  font-size: 0.7rem;
}

.info-container span.country {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-right: 12px;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}